body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .message-container {
    width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
  }
  
  .logo {
    width: 250px; /* Ajusta el tamaño de la imagen según sea necesario */
    margin-bottom: -32px;
  }
  /* Estilos para la animación */
@keyframes flotar {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
  100% {
      transform: translateY(0);
  }
}

/* Aplicar la animación a la clase .flotar */
.flotar {
  animation: flotar 3s ease-in-out infinite; /* Cambia la duración y el tiempo según lo necesites */
}

  .success-message {
    color: blue; /* Color azul fosforescente */
  }
  
  .success-message h1 {
    font-size: 32px; /* Tamaño de letra más grande */
    margin-bottom: 10px;
  }
  
  .success-message p {
    margin: 5px 0;
  }
  
  button {
    padding: 8px 16px;
    background-color: blue; /* Color de botón azul fosforescente */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #00cccc; /* Color de botón azul más oscuro al pasar el cursor */
  }
  